<div class="row">
  <div class="col-md-12">
    <h1>{{data.departmentName}} -Department: {{data.departmentId}}</h1>
    <hr />
    <form method="post" action="/departments/update">        
        
        <div class="row">
          <div class="col-md-6">
            <div class="form-group"><input class="form-control" label: "DepartmentName" name="departmentId"
                type="text" value="{{data.departmentName}}" />
            </div>
            <hr /><input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
          </div>
        </div>
    </form>
    </div>
</div>